{% extends 'base.html.twig' %}

{% block title %}Channel{% endblock %}

{% block body %}
  <div class="container">
    <div class="sideblock right-shadow">
      <h1>Channel index</h1>
      <ul>
        {% for channel in channels %}
          <li>
            <a href="{{ path('app_channel_show', {'id': channel.id}) }}">#{{ channel.Title }}</a>
          </li>
        {% else %}
            <li>no records found</li>
        {% endfor %}
      </ul>
      <a href="{{ path('app_channel_new') }}">
        <div class= "bacchus-button-inverted"> Create new </div>
      </a>
    </div>
    <div class="central-block">
      <h1>#{{ channel.Title }}</h1>
      <div class="msg-container">
        <ul>
          {% for message in messages %}
              <li>
                <div class= "msg-box">
                  <div class="msg-title">
                    {{ message.Owner }} {{ message.CreatedAt ? message.CreatedAt|date('Y-m-d H:i') : '' }}
                  </div>
                  <div class= "msg-content">
                    {{ message.Content }}
                  </div>
                </div>
              </li>
          {% else %}
              <li> no records found </li>
          {% endfor %}
        </ul>
      </div>
      <div class="new-msg-form">
        {{ include('message/_form.html.twig') }}
      </div>
    </div>
    <div class="sideblock left-shadow">
      <h1>Look who's here!</h1>
      <ul>
        {% for user in users %}
          <li>
            <a href="{{ path('app_channel_newpm', {'user_id': user.id})}}"> {{user.nickname}}</a>
          </li>
        {% else %}
          <li>No records found</li>
        {% endfor %}
      </ul>
      <h1> Invited in this channel: </h1>
      <ul>
        {% for user in channel.users %}
        <li>
            <a href="{{ path('app_channel_newpm', {'user_id': user.id})}}"> {{user.nickname}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
